.admissions-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Allow the page to grow as needed */
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
  max-width: 1000px; /* Ensure the image doesn't get too large */
  max-height: 400px; /* Limit the height so it doesn't take too much space */
  object-fit: cover; /* Make the image cover the container proportionally */
}

.admissions-form {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
}

.admissions-form h2,
.admissions-form h3 {
  margin-top: 10px;
}

.admissions-form label {
  margin: 10px 0 5px;
}

.admissions-form input,
.admissions-form textarea,
.admissions-form select {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #ccc;
  
}

.admissions-form div {
  margin-bottom: 15px;
}

.admissions-form button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admissions-form button:hover {
  background-color: #45a049;
}
