.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 50px; /* Adjust the height as needed */
    margin-right: 10px;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.navbar-menu-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.navbar-dropdown {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 4px;
    z-index: 1000;
}

.navbar-dropdown a {
    display: block;
    margin-bottom: 10px;
    color: #6e2275;
    text-decoration: none;
}

.navbar-dropdown a:last-child {
    margin-bottom: 0;
}
